## Creating your pown data

In [1]:
import pandas as pd

In [3]:
s = pd.Series(['banana', 67])
s

0    banana
1        67
dtype: object

#### Manually passing index

In [4]:
s = pd.Series(['Akash', 25], index=['Name','Age'])
s

Name    Akash
Age        25
dtype: object

#### Creating DataFrame

In [6]:
family = pd.DataFrame({
    'Name' : ['Akash', 'Anup'],
    'Occupation' : ['Civil Engg.', 'Doctor'],
    'Born' : ['1997', '2000'],
    'WorkPlace': ['Lingasuru', 'Bengaluru']
})
print(family)

    Name   Occupation  Born  WorkPlace
0  Akash  Civil Engg.  1997  Lingasuru
1   Anup       Doctor  2000  Bengaluru

#### In oder

In [11]:
family = pd.DataFrame(
    data = {
    'Name' : ['Akash', 'Anup'],
    'Occupation' : ['Civil Engg.', 'Doctor'],
    'Born' : ['1997', '2000'],
    'WorkPlace': ['Lingasuru', 'Bengaluru'],
    'Age': [25, 22]},
    index = ['Child1', 'Child2'],
    columns = ['Born', 'Name', 'Occupation', 'WorkPlace' ]
)
print(family)

        Born   Name   Occupation  WorkPlace
Child1  1997  Akash  Civil Engg.  Lingasuru
Child2  2000   Anup       Doctor  Bengaluru

## The Series

In [12]:
family = pd.DataFrame(
    data = {
    'Name' : ['Akash', 'Anup'],
    'Occupation' : ['Civil Engg.', 'Doctor'],
    'Born' : ['1997', '2000'],
    'WorkPlace': ['Lingasuru', 'Bengaluru'],
    'Age': [25, 22]},
    index = ['Child1', 'Child2'],
    columns = ['Born', 'Name', 'Occupation', 'WorkPlace', 'Age' ]
)
print(family)

        Born   Name   Occupation  WorkPlace  Age
Child1  1997  Akash  Civil Engg.  Lingasuru   25
Child2  2000   Anup       Doctor  Bengaluru   22

In [16]:
second_row = family.loc['Child2']
print(second_row)
print('--------------------')
print(type(second_row))

Born               2000
Name               Anup
Occupation       Doctor
WorkPlace     Bengaluru
Age                  22
Name: Child2, dtype: object
--------------------
<class 'pandas.core.series.Series'>

In [18]:
print(second_row.index)

Index(['Born', 'Name', 'Occupation', 'WorkPlace', 'Age'], dtype='object')

In [19]:
print(second_row.values)

['2000' 'Anup' 'Doctor' 'Bengaluru' 22]

In [20]:
print(second_row.keys())

Index(['Born', 'Name', 'Occupation', 'WorkPlace', 'Age'], dtype='object')

In [21]:
print(second_row.index[0])

Born

In [22]:
print(second_row.keys()[0])

Born

In [24]:
ages = family['Age']
ages

Child1    25
Child2    22
Name: Age, dtype: int64

In [25]:
ages.mean()

23.5

In [26]:
ages.min()

22

In [27]:
ages.std()

2.1213203435596424

### Boolean Subsetting

In [28]:
pwd # Duplicate"scientists.csv" from main file then move it current directary

'C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything'

In [29]:
scientists = pd.read_csv('scientists.csv')

In [32]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

In [34]:
ages =scientists['Age']
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [36]:
ages.describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [37]:
ages[ages>ages.mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [38]:
ages>ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [39]:
ages + ages

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [40]:
ages * ages

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [41]:
ages + 100

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [42]:
ages + pd.Series([1, 100])

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [45]:
import numpy as np

# ages + pd.array([1, 100])
# This causes Error

#### Alignment

In [47]:
rev_ages = ages.sort_index(ascending=False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

## The DataFrame

#### Boolean subsetting