## Creating your own data

In [1]:
import pandas as pd

In [2]:
s = pd.Series(['banana', 67])
s

0    banana
1        67
dtype: object

#### Manually passing index

In [3]:
s = pd.Series(['Akash', 25], index=['Name','Age'])
s

Name    Akash
Age        25
dtype: object

#### Creating DataFrame

In [4]:
family = pd.DataFrame({
    'Name' : ['Akash', 'Anup'],
    'Occupation' : ['Civil Engg.', 'Doctor'],
    'Born' : ['1997', '2000'],
    'WorkPlace': ['Lingasuru', 'Bengaluru']
})
print(family)

    Name   Occupation  Born  WorkPlace
0  Akash  Civil Engg.  1997  Lingasuru
1   Anup       Doctor  2000  Bengaluru

#### In oder

In [5]:
family = pd.DataFrame(
    data = {
    'Name' : ['Akash', 'Anup'],
    'Occupation' : ['Civil Engg.', 'Doctor'],
    'Born' : ['1997', '2000'],
    'WorkPlace': ['Lingasuru', 'Bengaluru'],
    'Age': [25, 22]},
    index = ['Child1', 'Child2'],
    columns = ['Born', 'Name', 'Occupation', 'WorkPlace' ]
)
print(family)

        Born   Name   Occupation  WorkPlace
Child1  1997  Akash  Civil Engg.  Lingasuru
Child2  2000   Anup       Doctor  Bengaluru

## The Series

In [6]:
family = pd.DataFrame(
    data = {
    'Name' : ['Akash', 'Anup'],
    'Occupation' : ['Civil Engg.', 'Doctor'],
    'Born' : ['1997', '2000'],
    'WorkPlace': ['Lingasuru', 'Bengaluru'],
    'Age': [25, 22]},
    index = ['Child1', 'Child2'],
    columns = ['Born', 'Name', 'Occupation', 'WorkPlace', 'Age' ]
)
print(family)

        Born   Name   Occupation  WorkPlace  Age
Child1  1997  Akash  Civil Engg.  Lingasuru   25
Child2  2000   Anup       Doctor  Bengaluru   22

In [7]:
second_row = family.loc['Child2']
print(second_row)
print('--------------------')
print(type(second_row))

Born               2000
Name               Anup
Occupation       Doctor
WorkPlace     Bengaluru
Age                  22
Name: Child2, dtype: object
--------------------
<class 'pandas.core.series.Series'>

In [8]:
print(second_row.index)

Index(['Born', 'Name', 'Occupation', 'WorkPlace', 'Age'], dtype='object')

In [9]:
print(second_row.values)

['2000' 'Anup' 'Doctor' 'Bengaluru' 22]

In [10]:
print(second_row.keys())

Index(['Born', 'Name', 'Occupation', 'WorkPlace', 'Age'], dtype='object')

In [11]:
print(second_row.index[0])

Born

In [12]:
print(second_row.keys()[0])

Born

In [13]:
ages = family['Age']
ages

Child1    25
Child2    22
Name: Age, dtype: int64

In [14]:
ages.mean()

23.5

In [15]:
ages.min()

22

In [16]:
ages.std()

2.1213203435596424

### Boolean Subsetting

In [17]:
pwd # Duplicate"scientists.csv" from main file then move it current directary

'C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything'

In [18]:
scientists = pd.read_csv('scientists.csv')

In [19]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

In [20]:
ages =scientists['Age']
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [21]:
ages.describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [22]:
ages[ages>ages.mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [23]:
ages>ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [24]:
ages + ages

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [25]:
ages * ages

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [26]:
ages + 100

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [27]:
ages + pd.Series([1, 100])

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [28]:
import numpy as np

# ages + pd.array([1, 100])
# This causes Error

#### Alignment

In [29]:
rev_ages = ages.sort_index(ascending=False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

## The DataFrame

#### Boolean subsetting

In [30]:
scientists['Age']>scientists['Age'].mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [31]:
scientists[scientists['Age']>scientists['Age'].mean()]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [32]:
first_half = scientists[:4]
second_half = scientists[4:]

print(first_half)
print(second_half)
# print(scientists * 2)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [33]:
print(scientists['Born'].dtype)

object

#### Converting DateTime object(String) to datetime format

In [34]:
born_dt = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_dt)

died_dt = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_dt)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [35]:
scientists['born_dt'], scientists['died_dt'] = (born_df, died_dt)
print(scientists)
# print(scientists.info())

NameError: name 'born_df' is not defined

In [36]:
scientists['Age']

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [37]:
import random

In [38]:
random.seed(42)
random.shuffle(scientists['Age'])

C:\Users\PSB\anaconda3\envs\my_env\lib\random.py:363: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [39]:
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

In [ ]:
# scientists['Age'] = scientists['Age']
# sample(len(scientists['Age']), random_state = 24)
# reset_index(drop =True)

In [40]:
scientists['age_days_dt'] = (scientists['born_dt']-scientists['died_dt'])
print(scientists)

KeyError: 'born_dt'

In [41]:
scientists['age_Years_dt'] = scientists['age_days_dt'].astype('timedelta64[Y]')
print(scientists)

KeyError: 'age_days_dt'

#### Dropping Values ( inplace = True)

In [42]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [43]:
scientists_dropped = scientists.drop(['Age'], axis=1)
scientists_dropped.columns

Index(['Name', 'Born', 'Died', 'Occupation'], dtype='object')

### Exporting and Importing Data

#### Pickle File

In [44]:
names = scientists["Name"]
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [ ]:
pwd

In [ ]:
# names.to_pickle('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\Names.pickle')

In [ ]:
# scientists.to_pickle('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\Names.pickle')

#### CSV format

In [ ]:
names_from_pickle = pd.read_pickle('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\Names.pickle')
print(names_from_pickle)

In [ ]:
names.to_csv('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\Names.csv')

#### TSV format

In [ ]:
names.to_csv('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\Names.tsv', sep='\t')

#### Removing row numbers from output

In [ ]:
scientists.to_csv('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\scientists_index.csv')

In [ ]:
scientists.to_csv('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\scientists_no_index.csv', index=False)

#### Excel

In [47]:
names_df = names.to_frame()

In [ ]:
pip install xlwt

In [45]:
import xlwt

In [48]:
names_df.to_excel('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\Names_df.xls')

C:/Users/PSB/AppData/Local/Temp/xpython_13864/1445062164.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  names_df.to_excel('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\Names_df.xls')

In [49]:
# pip install openpyxl

In [50]:
import openpyxl

In [51]:
names_df.to_excel('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\Names_df.xlsx')

In [52]:
scientists.to_excel('C:\\Users\\PSB\\MachineLearnings\\Pandas_for_Everything\\scientists.xlsx', sheet_name = 'Scientists', index =False)